@font-face {
    font-family: 'action_manregular';
    src: asset-url('fontawesome-webfont.eot');
    src: asset-url('glyphicons-halflings-regular.eot');
    src: asset-url('fontawesome-webfont.woff');
    src: asset-url('glyphicons-halflings-regular.woff');
    src: asset-url('FontAwesome.otf');
    src: asset-url('fontawesome-webfont.svg');
    src: asset-url('glyphicons-halflings-regular.svg');
    src: asset-url('fontawesome-webfont.ttf');
    src: asset-url('glyphicons-halflings-regular.ttf');

    font-weight: normal;
    font-style: normal;
}
